@charset "utf-8";

section {
  background: #F2EEF2;
  min-height: calc(100vh - 100px);
}

section .chat-list {
  padding: 15px;
  box-sizing: border-box;
}

section .chat-list li {
  padding-bottom: 14px;
  display: flex;
  font-size: 14px;
}

section .chat-list li p {
  padding: 7px 15px;
  max-width: 200px;
  max-height: 79px;
  overflow: hidden;
}

section .chat-list li.you {
  color: #fff;
}

section .chat-list li.you img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

section .chat-list li.you p {
  background: #DCA5D7;
  border-radius: 0px 12px 12px 12px;
}

section .chat-list li.me {
  justify-content: end;
  color: #A7A7A7;
}

section .chat-list li.me p {
  background-color: #fff;
  border-radius: 12px 0px 12px 12px;
}

#add {
  position: fixed;
  bottom: 100px;
  left: 0;
  width: 100%;
}
#add .in-add{
  width: 345px;
  margin: auto;
  text-align: right;
}
#add .btn-add {
  border: transparent;
}
.btn-add img{transition: .2s;}
.btn-add img.ro{
  transform: rotate(45deg);
}

#add ul {
  display: none;
  position: relative;
  /* border: 1px solid red; */
}

#add ul li {
  position: absolute;
  top: -140px;
  right: 32px;
}

#add ul li:nth-child(2) {
  top: -100px;
  right: 95px;
}

#add ul li:nth-child(3) {
  top: -39px;
  right: 119px;
}

#add ul li img {
  width: 40px;
  height: 40px;
}

.input {
  background-color: #fff;
  height: 83px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.input #message {
  width: 345px;
  height: 34px;
  border: transparent;
}

.input form {
  position: relative;
  width: 345px;
  margin: auto;
  margin-top: 15px;
}

.input input {
  width: 100%;
  box-sizing: border-box;
  background: #F2EEF2;
  border-radius: 8px;
}

.input .btn-mic {
  border: transparent;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 3px;
}